<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="K0ntr0l.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <K0ntr0l.Properties.Settings>
            <setting name="PatternLibraryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CommsBaudRate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="FileFilterIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPatternBrowsePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDumpBrowsePath" serializeAs="String">
                <value />
            </setting>
            <setting name="NoteColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="AccentedNoteColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="RestColor" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="AccentedRestColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="SlideColor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="PreviewPatterns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WaitForBytesTimeOut" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SerialPortReadWriteTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="AdjustTempo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WaitForBytesSleepTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowToolTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedPatternDoubleClickAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormPreviewCommsWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PatternLibraryWindowSize" serializeAs="String">
                <value>980, 507</value>
            </setting>
            <setting name="PatternLibraryWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PatternLinbraryColumnNameWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PatternLinbraryColumnDescriptionWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PatternLinbraryColumnLengthWidth" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PatternLinbraryColumnTempoWidth" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PatternLinbraryColumnSourceWidth" serializeAs="String">
                <value>400</value>
            </setting>
        </K0ntr0l.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
